@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-surface: rgba(30, 41, 59, 0.4);
  --color-primary: #3b82f6;
  --color-accent: #8b5cf6;
}

:root {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.glass-card {
  @apply bg-surface backdrop-blur-md border border-slate-800 shadow-2xl;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}